:root {
  --border-dark: #222222;
  --border: #cccccc;
  --required: #c90000;
  --text: #222222;
  --text-grey: #888888;
  --header: #f6f6f7;
}

.text-center {
  text-align: center;
}

.text-light {
  color: var(--text-grey);
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: 0.8rem;
}

.text {
  color: var(--text);
}

hr {
  border: none;
  border-top: 1px solid var(--header);
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

span,
p,
h1,
h2,
h3 {
  color: var(--text);
  font-weight: normal;
}
